.blurOverlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    z-index: -1;
    border-radius: inherit;
  }
  
  .bgcontainer {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    overflow: hidden;
    isolation: isolate;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .visible {
    opacity: 1;
  }
  
  .canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    --gradient-color-1: #100024;
    --gradient-color-2: #D32222;
    --gradient-color-3: #EBFFFD;
    --gradient-color-4: #2D42BE;
    filter: contrast(1.1);
  }