.blurOverlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px); */
    z-index: -1;
    opacity: 0.5;
    border-radius: inherit;
  }
  
  .bgcontainer {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    overflow: hidden;
    isolation: isolate;
    border-radius: inherit;
  }
  
  .canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    --gradient-color-1: #040014;
    --gradient-color-2: #0027A5;
    --gradient-color-3: #0027A5;
    --gradient-color-4: #CFAF63;
    filter: contrast(1.1);
  }